<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Myblog</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<style type="text/css">
			#yc_login_1{
				width: 400px;
				text-align:center;
				margin: 0 auto;
			}
			
			#yc_personal_1{
				width: 210px; 
				height: 250px;
				position: fixed;
				top: 150px;
				left: 310px;
			}
			
			
			#yc_page a{
				border-radius:50%;
				margin-left:15px;
				color:#999;
			}
			
			
			
			
			.list-group-horizontal .list-group-item {
				display: inline-block;
			}
			.list-group-horizontal .list-group-item {
				margin-bottom: 0;
				margin-left:-4px;
				margin-right: 0;
			}
			.list-group-horizontal .list-group-item:first-child {
				border-top-right-radius:0;
				border-bottom-left-radius:4px;
			}
			.list-group-horizontal .list-group-item:last-child {
				border-top-right-radius:4px;
				border-bottom-left-radius:0;
			}
			
		</style>
	</head>

	<body>
	
		<!-- 左侧第一个框 -->
			<div id="yc_personal_1">
				<!-- 导航 -->
				<ul class="list-group">
					<a href="index.html" class="list-group-item active" style="background:black;text-align:center;height:100px">
					        <h4 class="list-group-item-heading" style="margin-top:15px">MyBlog</h4>
					        <h6 style="margin-top:20px">心有猛虎，细嗅蔷薇</h6>
					</a>
					
				    <a href="index.html" class="list-group-item">
				    	<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;&nbsp;home
					</a>
						
				    <a href="about.html" class="list-group-item">
						<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;about
					</a>
					
					<a href="list.html" class="list-group-item">
				        <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;&nbsp;file
				    </a>
					
				   <!-- 分类下拉列表 -->
				    <div id="yc_tags">
					    <li class="dropdown" style="list-style:none;">
						    <a href="#" class="list-group-item dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;&nbsp;&nbsp;tags
							</a>
							<a><span class="caret"></span></a>
							
					        <ul class="dropdown-menu" style="width:210px;height:120px">
					            <li>
					                <a href="list.html#1"  class="list-group-item" style="height:38px;line-height:34px;margin-top:-3px">
								       <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;&nbsp;&nbsp;Java
								    </a>
								</li>
								
					            <li>
					                <a href="list.html#2"  class="list-group-item" style="height:38px;line-height:34px">
								       <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;&nbsp;&nbsp;数据库
								    </a>
								</li>
								
					            <li>
					                <a href="list.html#3" class="list-group-item" style="height:38px;line-height:34px">
								       <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;&nbsp;&nbsp;前端
								    </a>
								</li>
								
								<li>
					                <a href="list.html#4" class="list-group-item" style="height:38px;line-height:34px">
								       <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;&nbsp;&nbsp;生活
								    </a>
								</li>
					        </ul>
					    </li>
				    </div>   
				    
				    
				    
				    
				    <!-- 左侧第二个框 -->
				    <div id="yc_personal_2" style="width:210px;height:300px;border: 1px solid #ddd;">
				    
				    <!-- 用户信息（头像，文章各类统计） -->
				    	<div id="yc_author" style="width:208px;height:220px;background-color:#fff;">
				    		<img src="imgs/me.jpg" class="img-circle img-responsive" style="width:110px;margin:0 auto;padding-top:10px;">
				    		<p style="width:210px;text-align:center;padding-top:5px;font-size:15px;font-weight: bold">MyBlog</p>
				    		<p style="width:210px;text-align:center;font-size:8px;color:#999">全栈工程师</p>
				    		
				    		<!-- 分类统计 -->
				    		<div class="row" style="width:210px;margin-left:0px">
			
					            <div class="list-group list-group-horizontal" style="margin-bottom:0px">
					            	<div class="list-group-item" style="padding:0 0 0 1px;width:50px;margin-left:0px;border:0">
					            		<p style="height:10px;text-align:center;font-weight: bold">{{counts[0]}}</p>
					            		<p style="height:10px;text-align:center"><a href="list.html#1" style="font-size:13px;color:#999">Java</a></p>
					            	</div>
					            	
					            	
					            	<div class="list-group-item" style="padding:0 0 0 0;width:50px;margin-left:-1px;border:0">
					            		<p style="height:10px;text-align:center;font-weight: bold">{{counts[1]}}</p>
					            		<p style="height:10px;text-align:center"><a href="list.html#2" style="font-size:13px;color:#999">数据库</a></p>
					            	</div>
					            	
					            	
					            	<div class="list-group-item" style="padding:0 0 0 0;width:50px;margin-left:-1px;border:0">
					            		<p style="height:10px;text-align:center;font-weight: bold">{{counts[2]}}</p>
					            		<p style="height:10px;text-align:center"><a href="list.html#3" style="font-size:13px;color:#999">前端</a></p>
					            	</div>
					            	
					            	
					            	<div class="list-group-item" style="padding:0 0 0 0;width:49px;margin-left:-1px;border:0">
					            		<p style="height:10px;text-align:center;font-weight: bold">{{counts[3]}}</p>
					            		<p style="height:10px;text-align:center"><a href="list.html#4" style="font-size:13px;color:#999">生活</a></p>
					            	</div>
					               
					            </div>
					
							</div>		
				    		
				    	</div>
				    	
				    	<hr style="margin:15px 0 0 0">
				    	
				    	
				    	<!-- 左侧底部链接栏 -->
				    	<div id="yc_link">
				    		<p style="width:208px;text-align:center;font-weight: bold;margin-top:8px;margin-bottom:5px">links</p>
				    		
				    		<!-- github链接 -->
				    		<div id="yc_github" style="">
					    		<span><img src="imgs/github.jpg" style="width:20px;height:20px;padding-bottom:3px;margin-left:25px"/></span>
					    		<a href="https://github.com/Chris51498/blog" target="_blank" style="display:inline-block;width:45px;height:20px;line-height:20px;color:#999">GitHub</a>
					    		
					    		<span><img src="imgs/email.jpg" style="width:16px;height:18px;padding-bottom:3px;margin-left:18px"/></span>
					    		<a href="javascript:email()" style="display:inline-block;width:45px;height:20px;line-height:20px;color:#999">Email</a>
					    		
				    		</div>
				    	</div>
				    	
				    </div>
				    
				</ul>
			</div>
		
		
	
		<div class="container" style="width: 45%;">
		
			<div id="yc_login">
				<!-- 模态框（Modal） 登录-->
				<div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content" id="yc_login_1">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">
									<label style="align-content: center;">登录</label>
								</h4>
							</div>
							
							<div class="modal-body" >
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="firstname" class="col-sm-3 control-label">昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
										<div class="col-sm-8">
											<input type="text" id="nickname" v-model="nickname" class="form-control" placeholder="请输入昵称">
										</div>
									</div>
									
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
										<div class="col-sm-8">
											<input type="password" id="pwd" v-model="pwd" class="form-control" placeholder="请输密码">
										</div>
									</div>
									
									<div class="form-group">
										<label for="lastname" class="col-sm-3 control-label">验证码</label>
										<div class="col-sm-5">
											<input type="text" id="yzm" v-model="yzm" class="form-control"  placeholder="请输验证码">
										</div>
										
										<div style="margin-right:45px">
							                <img src="verifyCodeServlet" id="yzm_img" />
							            </div>
									</div>
									
									<div class="form-group">
										<input class="btn btn-default" type="button" @click="login" value="登录">
									</div>
								</form>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal -->
				</div>
			</div>						
									
									
									
			<!-- 模态框（Modal）注册 -->
			<div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" id="yc_login_1" style="width:450px">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="myModalLabel">
								<label style="align-content: center;">注册</label>
							</h4>
						</div>
						
						<div class="modal-body" >
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="firstname" class="col-sm-3 control-label">昵&nbsp;&nbsp;&nbsp;&nbsp;称</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="nickname2"  placeholder="请输入用户名" onblur="checkName()">
									</div>
									<span id="tishi" style="float:left;height:38px;line-height:38px">必填</span>
								</div>
								
								<div class="form-group">
									<label for="lastname" class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" id="pwd2" onblur="checkPwd()" placeholder="请输密码">
									</div>
									<span id="tishiPwd" style="float:left;height:38px;line-height:38px">必填</span>
								</div>
								
								<div class="form-group">
									<label for="firstname" class="col-sm-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="email" placeholder="请输入邮箱">
									</div>
								</div>
								
								<div class="form-group">
									<label for="inputfile" class="col-sm-3 control-label">头&nbsp;&nbsp;&nbsp;&nbsp;像</label>
									<div class="col-sm-8">
										<input type="file" id="u_pic" name="u_pic">
									</div>
								</div>
								
								
								<div class="form-group">
									<input class="btn btn-default" type="button" onclick="add()" value="注册" data-dissmiss="modal"  >
								</div>
							</form>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			
			
			
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					
					<!-- 头部导航 -->
					<div id="yc_header" style="background-color: black;">
						
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header" style="background-color: black;">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
								<a class="navbar-brand" href="index.html" style="font-size:20px;font-weight: bold;color:#fff;">MyBlog</a>
							</div>
	
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: black;">
								<ul class="nav navbar-nav">
									<li>
										<a href="index.html" style="color:#fff;">首页</a>
									</li>
									
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">分类<strong class="caret" ></strong></a>
										<ul class="dropdown-menu" >
											
											<li class="divider">
											</li>
											<li>
												<a href="list.html#1">Java</a>
											</li>
											
											
											<li class="divider">
											</li>
											<li>
												<a href="list.html#2">数据库</a>
											</li>
											
											<li class="divider">
											</li>
											<li>
												<a href="list.html#3">前端</a>
											</li>
											
											<li class="divider">
											</li>
											<li>
												<a href="list.html#4">生活</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="about.html" style="color:white">关于我</a>
									</li>
									
								</ul>
								
								
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" class="form-control" />
									</div> <button type="submit" class="btn btn-default" >搜索</button>
								</form>
								
								
								<ul class="nav navbar-nav navbar-right">
									<li><a data-toggle="modal" data-target="#myModal_1" style="color:white">登录</a></li>
									<li><a data-toggle="modal" data-target="#myModal_2" style="color:white">注册</a></li>
								</ul>
							</div>
	
						</nav>
					</div>
					
					
					
					<!--图片轮播-->
					<div >
						<div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000">
							<!--计数器-->
							<ol class="carousel-indicators">
								<li class="active" data-target="#slidershow" data-slide-to="0"></li>
								<li data-target="#slidershow" data-slide-to="1"></li>
								<li data-target="#slidershow" data-slide-to="2"></li>
							</ol>
							<!--图片容器-->
							<div class="carousel-inner">
								<div class="item active">
									<img src="imgs/1.png"/>
								</div>
								<div class="item">
									<img src="imgs/2.png"/>
								</div>
								<div class="item">
									<img src="imgs/3.png"/>
								</div>
								
							</div>
						</div>
					</div>
					
					
					
					<!-- 显示文章简介 -->
				<div class="row clearfix"  id="blog_article">

					<div class="col-md-6 column" v-for="article in articles">
						<h2>{{article.title}}</h2>
						<p>{{article.a_content}}</p>
						<p>
							<a class="btn" :href="'article.html#'+article.a_no">获取更好的阅读体验 »</a>
						</p>
					</div>


					
				</div>




					<!-- 分页 -->
					<div id="yc_page" style="text-align:center;">
						<ul class="pagination pagination-sm">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
					
					<!-- 底部 -->
					<div id="yc_footer" class="col-md-12 column" style="text-align:center;margin-bottom:30px">
						&copy;
						<span>2020</span>
						<span><img src="imgs/user.jpg" style="width:17px;height:17px;padding-bottom:1px;margin-left:5px;margin-right:5px"/></span>
						<span>MyBlog</span>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="js/jquery.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/qs.js"></script>
	<script src="js/ajaxfileupload.js"></script>

	<script type="text/javascript">
	/* 
		var hash = window.location.hash;
		var id = hash.replace("#",'');
		alert(id);
	  */
		//邮箱
		function email(){
			alert("xujian_xj@qq.com");
		}
		
	
	
		var yc_login = new Vue({
			el:'#yc_login',
			data:{
				nickname:'',
				pwd:'',
				yzm:''
			},
		
			methods:{
    			login:function(){
    				//发送axios请求
    				axios({
    					url:'user.action',
    					method:'post',
    					params:{op:'login',nickname:this.nickname,pwd:this.pwd,yzm:this.yzm}
    				}).then(result=>{
    					if(result.data==-1){
    						alert("验证码错误！！");
    					}else if(result.data>0){
    						alert("欢迎进入MyBlog");
    						window.location.href="index.html";
    					}else{
    						alert("登录失败！！");
    					}
    				});
    			}
    		}
		});
		
		
		//用户注册
		function add(){
			var nickname= $('#nickname2').val();
			var pwd= $('#pwd2').val();
			var email= $('#email').val();
			
			var tishi = $('#tishi').html();
			var tishiPwd = $('#tishiPwd').html();
			if('昵称不能为空' == tishi || '昵称已注册' == tishi || '密码不能为空'==tishiPwd){
				alert("注册失败，请检查注册信息重新注册！！！");
				return false;
			}
			
			if(nickname==''||pwd==''||email==''){
				alert("必填项不能为空！！");
				return false;
			}
			
			$.ajaxFileUpload({
				url:'userFileUpload.action',
				secureuri:false,
				fileElementId:'u_pic',
				dataType:'json',
				data:{nickname:nickname,pwd:pwd,email:email},
				success:function(data){
					if(data>0&&null!=data){
						//注册成功跳转登录页面
						alert("注册成功！！");
						window.location.href="index.html";
					}else{
						$.messager.alert('警告','注册失败');
					}
				}
			});
		}
		
		//检查用户名
		function checkName(){
			var nickname= $('#nickname2').val();
			if(null==nickname || ''==nickname){
				$('#tishi').html('昵称不能为空');
				return false;
			}
			
			//发送请求，检查用户名是否被注册
			$.get('user.action?op=find',{nickname:nickname},function(data){
				if(data!=0 || data != ""){
					$('#tishi').html('昵称已注册');
					return false;
				}else{
					$('#tishi').html('昵称可用');
					return true;
				}
			},'json');
		}
		
		//检查密码是否为空
		function checkPwd(){
			var pwd= $('#pwd2').val();
			if(null==pwd || ''==pwd){
				$('#tishiPwd').html('密码不能为空');
				return false;
			}
		}
		
		
		//首页文章显示vue
		var vm=new Vue({
		el:'#blog_article',
		data:{
			articles:{},
		},
		methods:{
			
			
		},
		mounted:function(){
			//页面加载完成之后
			axios({
				url:'article.action',
				method:'post',
				params:{op:'find'}
			}).then(result=>{
				if(result.data!=null){
					this.articles=result.data.articles;
				}else{
					alert("加载失败");
				}
			});
		}
	});
	
		
		//左侧导航  各类文章统计
		var personal = new Vue({
			el:"#yc_personal_2",
			data:{
				counts:{}
			},
			
			methods:{
				
			},
			
			mounted:function(){
				axios.all([findTypeCount()]).then(axios.spread((fn1)=>{
						this.counts=fn1.data;
				}));
			}
			
		});
		
		  
		//查询每个类的文章总数
		function findTypeCount(){
			return axios.get("article.action?op=findTypeCount");
			
		}	
	
		
	</script>




</html>